# Ignore any directory whose name ends with " - Clase" or " - ClaseGuia"
**/* - Clase/
**/*_Clase/
**/* - ClaseGuia/
**/* - Clase Guía/
**/Material_*
**/Ejercicios_*
**/Soluciones_*
**/Tareas_*
**/Examenes_*
**/Proyectos_*
**/Recursos_*
**/Notas_*
**/ListaAlumnos_*
/Lista_Alumnos/
**/.ipynb_checkpoints/
**/Apuntes_*
**/Presentaciones_*
**/Docs_*
**/Documentos_*
**/Actividades
